<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebApplication5.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">

  <environmentVariables>
    <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
    <environmentVariable name="CORECLR_PROFILER" value="{FA8F1DFF-0B62-4F84-887F-ECAC69A65DD3}" />
    <environmentVariable name="CORECLR_PROFILER_PATH_64" value="C:\inetpub\wwwroot\instanaApp\instana_tracing\CoreRewriter_x64.dll" />
    <environmentVariable name="CORECLR_PROFILER_PATH_32" value="C:\inetpub\wwwroot\instanaApp\instana_tracing\CoreRewriter_x32.dll" />
    <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\inetpub\wwwroot\instanaApp\Instana.Tracing.Core.dll" />
  </environmentVariables>
</aspNetCore>



    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: E48E62AF-9B90-4568-8583-E2FA466C4AF7-->